/* Variables for color palettes */
:root {
  --0-color: black; /* Dark background */
  --1-color: grey; /* Primary red */
  --2-color: white; /* Accent red */
  --3-color: #eeeeee; /* Light grey */
}

/* General styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--3-color);
  color: var(--0-color);
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

p {
  color: var(--0-color);
  margin: 10px 0;
}

.work_title {
  font-size: 25px;
  font-weight: bold;
  justify-self: flex-start;
}

ul.technical_description {
  padding-left: 20px;
}

ul.technical_description li {
  margin-bottom: 3px;
}

/* Section styles */
.intro_section {
  text-align: center;
  margin-bottom: 40px;
}

.intro_section p {
  font-size: 18px;
}

.work_experiences_section {
  background-color: var(--1-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--0-color);
  width: 100%;
  margin-top: 20px;
}

.experience {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--2-color);
  border: 2px solid var(--0-color);
}

.main_title {
  font-weight: bold;
  font-size: 30px;
}

.experience_section_text {
  font-weight: bold;
  font-size: 18px;
}

.experience_description_container {
  border: 1px solid var(--1-color);
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--0-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .experience img {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* Responsive Design */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }
  p {
    font-size: 16px;
  }
}

.HomeScreen_main_image {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border: 2px solid var(--0-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.HomeScreen_work_image {
  width: 15%;
  height: 15%;
  object-fit: cover;
  border: 2px solid var(--0-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.experience_header_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.experience_header_info_text_conatiner {
  margin-left: 20px;
}

.home_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--2-color);
}

.initial_button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--1-color);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.initial_button:hover {
  background-color: var(--0-color);
  color: white;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px;
}
.image_container {
  text-align: center;
  border: 1px solid var(--1-color);
  border-radius: 8px;
  padding: 8px;
  background: var(--2-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  p {
    margin-top: 8px;
    font-size: 14px;
    color: var(--0-color);
    word-wrap: break-word;
  }
}

.uploaded_image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
